@import './ui/vereables';
@import './ui/mixin';
@import './global';

@import './layout/header';

@import './screens/home/intro';
@import './screens/home/digital';
@import './screens/home/info';
@import './screens/home/start';
@import './screens/home/accordion';
@import './screens/home/faq';

@import './layout/footer';
