.faq {
    background-color: #effbff;
    &__content {
        display: flex;
        gap: 35px;
        &__img {
            min-width: 300px;
            flex: 1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__main {
            padding: 50px 0;
            min-width: 300px;
            flex: 2;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 50px;
            .title {
                @include content(700, $blue);
                position: relative;
                &::before {
                    content: url('../../img/icon2.png');
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .wrap {
                width: 100%;
                display: flex;
                flex-direction: column;
                &__accordion {
                    &__title {
                        padding: 20px;
                        padding-right: 50px;
                        border-top: 1px solid #e0e0e0;
                        font-size: 22px;
                        color: $gray;
                        font-weight: 600;
                        list-style-type: none;
                        position: relative;
                        &:last-child {
                            border-bottom: 1px solid #e0e0e0;
                        }
                        .icon {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 20px;
                            transition: $transition;
                        }
                    }
                    &__text {
                        border-top: 1px solid #e0e0e0;
                        @include text(500, $gray);
                        padding: 20px;
                        a {
                            color: $blue;
                        }
                    }
                    &[open] .wrap__accordion__title .icon {
                        color: $blue;
                        transform: translateY(-50%) rotate(-180deg);
                    }
                }
            }

            .link {
                @include btn($white, $gradient, 15px 35px, 5px);
            }
        }
    }
}
