.intro {
    margin-top: 85px;
    padding: 90px 0;
    background-image: url('../../img/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
        &__title {
            width: 90%;
            @include title(700, $white);
        }
        &__text {
            width: 90%;
            @include text(400, $white);
        }
        &__btn {
            margin-top: 30px;
            @include btn($white, $gradient, 18px 60px, 8px);
        }

        &__wrap {
            display: flex;
            align-items: center;
            gap: 16px;
            @include text(500, $white);
            span {
                font-size: 22px;
                color: #9ddaff;
            }
        }
        &__video {
            width: 140px;
            height: 200px;
            background-color: $white;
            border-radius: 25px;
            border: 5px solid $white;
            position: fixed;
            bottom: 30px;
            left: 30px;
            z-index: 999;
            .video {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
            }
            .btn {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
}
