.start {
    padding: 50px 0;
    background-color: #fbfbfb;
    &__content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 17px;
        &__title {
            width: 90%;
            @include content(700, $black);
            span {
                color: #83ea00;
            }
        }
        &__subtitle {
            font-size: 22px;
            font-weight: 600;
            color: $black;
        }
        &__text {
            @include text(500, $black);
            &:nth-of-type(1) {
                margin-top: 30px;
            }
        }
    }
}
