.header {
    width: 100%;
    height: 85px;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__list {
            display: flex;
            gap: 20px;
        }
    }
}
